<ion-header>
  <ion-toolbar>
    <ion-title class="title-term ion-header">
      Termos de Uso - Triagem Para Crianças Com Caracteristicas do Espectro
      autista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" ion-padding">
  <ion-grid>
    <ion-row class="term">
      <ion-col sizeSm="8">
        <ion-label>
          <h2>
            O Questionário Modificado para a Triagem do Autismo em Crianças entre 16 e 30 meses, Revisado, com
            Entrevista de
            Seguimento (M-CHAT-R/F; Robins, Fein, & Barton, 2009) é um instrumento de triagem de dois estágios para
            avaliar o risco
            de Transtorno do Espectro do Autismo (TEA). O M-CHAT-R/F está disponível para download gratuito para fins
            clínicos, de
            pesquisa e educacionais. O download do M-CHAT-R/F e material relacionado está autorizado por
            www.mchatscreen.com.
            <br>
            <br>
            Para mais informações: <a href="www.mchatscreen.com">www.mchatscreen.com</a> ou
            contate: mchatscreen2009@gmail.com
          </h2>
          <h3>
            Ao seguir com o teste você concorda e esta ciente de que ele não é
            um diagnóstico. Somente um profissional de saúde credenciados pode
            realizar o procedimento.
          </h3>
        </ion-label>
        <ion-button expand="block" (click)="goToTest()" class="btn-term">
          <ion-icon name="arrow-forward-outline" slot="start"></ion-icon>
          Aceito termos de uso
        </ion-button>
      </ion-col>
    </ion-row>
    <div class="footer">
      <a href="https://mchatscreen.com/" class="text-center footer">&copy;2009 Robins, Fein, & Barton</a>
    </div>
  </ion-grid>
</ion-content>