.title-term {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: large;
  text-align: center;
}


#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.questions {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: medium;
  border: 2px solid rgb(83, 152, 161);
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}

.content {
  justify-content: center;
  align-items: center;
  justify-items: auto;
}

.footer {
  position: fixed;
  bottom: 20px;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}